/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/backlight.h> // remove later, should not be needed

#define BASE 0
#define RAISE 1
#define LOWER 2

/ {
    macros {
        macro_zoom_in: macro_zoom_in {
            label = "ZM_ZoomIN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp C_AC_ZOOM_IN>
                , <&macro_release &kp LCTRL>
                ;
        };
	macro_zoom_out: macro_zoom_out {
            label = "ZM_ZoomOUT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp C_AC_ZOOM_OUT>
                , <&macro_release &kp LCTRL>
                ;
        };
    };
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
	&kp TAB &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp ESC
	&kp LSHFT &kp A &kp S &kp D &kp F &kp G                                              &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&mt LSHFT LPAR &kp Z &kp X &kp C &kp V &kp B &kp BSPC &kp LC(LA(DEL))        &kp PLUS &kp EQUAL &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &mt RSHFT RPAR
	           &kp LG(L) &kp LALT &mo LOWER &kp LC(BSPC) &kp LCTRL        &kp ENTER &kp SPACE  &mo RAISE &kp LC(PG_UP) &kp LC(PG_DN)
			>;

		};
		
		RAISE_layer {
			bindings = <
	&out OUT_TOG &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_NXT &bt BT_CLR                              &kp PG_UP &kp N7 &kp N8 &kp N9 &kp N0 &trans
	&trans &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                             &kp HOME &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp END
	&trans &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &trans &trans                       &trans &trans &trans &kp MINUS &kp N2 &kp N3 &kp EQUAL &trans
	           &trans  &trans   &trans        &kp LGUI &trans                       &trans &trans    &trans    &kp HOME     &kp END
			>;

		};

		LOWER_layer {
			bindings = <
	&trans &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT                              &kp CARET &kp AMPS &kp ASTRK &trans &trans &trans
	&kp DEL &kp F2 &kp F4 &kp F5 &kp F12 &trans                             &trans &kp UNDER &trans &trans &trans &trans
	&trans &trans &trans &kp PG_DN &kp PG_UP &trans &trans &trans  &trans &trans &trans &trans &trans &trans &trans &trans
	           &trans  &trans   &trans        &trans &trans  &trans &trans    &trans    &trans    &trans
			>;

		};
	};
};
