/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define RAISE 1
#define LOWER 2

&mt {
	tapping-term-ms = <200>;
};

/ {
	combos {
		compatible = "zmk,combos";
			combo_home {
			timeout-ms = <20>;
			key-positions = <19 20>;
			bindings = <&kp HOME>;
			layers = <1>;
		};
		
			combo_end {
			timeout-ms = <20>;
			key-positions = <21 22>;
			bindings = <&kp END>;
			layers = <1>;
		};

			combo_copy {
			timeout-ms = <20>;
			key-positions = <13 14>;
			bindings = <&kp LC(C)>;
		};
		
			combo_paste {
			timeout-ms = <20>;
			key-positions = <15 16>;
			bindings = <&kp LC(V)>;
		};
		
			combo_undo {
			timeout-ms = <20>;
			key-positions = <26 27>;
			bindings = <&kp LC(Z)>;
		};

			combo_redo {
			timeout-ms = <20>;
			key-positions = <27 28>;
			bindings = <&kp LC(Y)>;
		};

			combo_leftshift {
			timeout-ms = <20>;
			key-positions = <14 15>;
			bindings = <&kp LSHFT>;
		};	

			combo_rightshift {
			timeout-ms = <20>;
			key-positions = <20 21>;
			bindings = <&kp LSHFT>;
		};	
};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp TAB &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp ESC
				&caps_word &kp A &kp S &kp D &kp F &kp G         								&kp H &kp J &kp K     &kp L   &kp 	SEMI &kp SQT
				&mt LSHFT LPAR &kp Z &kp X &kp C &kp V &kp B &kp BSPC &kp LC(LA(DEL))        &kp PLUS &kp EQUAL &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &mt LSHFT RPAR
	      					&kp LG(L) &kp LALT &mo LOWER &kp LC(BSPC) &kp LCTRL        &kp ENTER &kp SPACE &mo RAISE &kp LC(PG_UP) &kp LC(PG_DN)
			>;

		};
		
		RAISE_layer {
			bindings = <
				&out OUT_TOG &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_NXT &bt BT_CLR                              &kp PG_UP &kp N7 &kp N8 &kp N9 &kp N0 &trans
				&trans &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                             &kp LC(LS(LEFT)) &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp LC(LS(RIGHT))
				&trans &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &trans &trans                       &trans &trans &trans &kp MINUS &kp N2 &kp N3 &kp EQUAL &trans
				            &trans  &trans   &trans        &kp LGUI &trans                       &trans &trans    &trans    &kp HOME     &kp END
			>;

		};

		LOWER_layer {
			bindings = <
				&trans &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT                              &kp CARET &kp AMPS &kp ASTRK &trans &trans &trans
				&kp DEL &kp F2 &kp F4 &kp F5 &kp F12 &trans                             &trans &kp UNDER &trans &trans &trans &trans
				&trans &trans &trans &kp PG_DN &kp PG_UP &trans &trans &trans  &trans &trans &trans &trans &trans &trans &trans &trans
	           				&trans  &trans   &trans        &trans &trans  &trans &trans    &trans    &trans    &trans
			>;

		};
	};
};
