/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define RAISE 1
#define LOWER 2

/ {
    macros {
        macro_zoom_in: macro_zoom_in {
            label = "ZM_ZoomIN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp C_AC_ZOOM_IN>
                , <&macro_release &kp LCTRL>
                ;
        };
	macro_zoom_out: macro_zoom_out {
            label = "ZM_ZoomOUT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp C_AC_ZOOM_OUT>
                , <&macro_release &kp LCTRL>
                ;
        };
    };
};

&left_encoder { resolution = <2>; };
&right_encoder { resolution = <2>; };

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
	&kp TAB &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
	&kp LSHFT &kp A &kp S &kp D &kp F &kp G                                              &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&kp LCTRL &kp Z &kp X &kp C &kp V &kp B &none &kp V        &kp V &none &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp BSLH
	           &kp ESC &kp LGUI &kp LALT &kp RET &kp ESC        &mo RAISE &kp SPACE  &mo LOWER &kp FSLH &kp BSLH
			>;

			sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW &inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
		
		RAISE_layer {
			bindings = <
	&kp GRAVE &trans &trans &kp UP &trans &trans                              &kp PG_UP &kp N7 &kp N8 &kp N9 &kp N0 &trans
	&trans &trans &kp LEFT &kp DOWN &kp RIGHT &trans                              &kp PG_DN &kp N4 &kp N5 &kp N6 &kp MINUS &kp DEL
	&trans &trans &trans &trans &trans &trans &trans &trans  &trans &trans &trans &kp N1 &kp N2 &kp N3 &kp EQUAL &trans
	           &trans  &trans   &trans        &trans &trans  &trans &trans    &trans    &kp HOME     &kp END
			>;

			sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW &inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		LOWER_layer {
			bindings = <
	&kp C_AC_ZOOM_IN &kp C_AC_ZOOM_OUT &trans &trans &trans &macro_zoom_in                              &trans &trans &trans &trans &trans &trans
	&kp K_SCROLL_UP &kp K_SCROLL_DOWN &trans &trans &trans &macro_zoom_out                             &trans &trans &trans &trans &trans &trans
	&trans &trans &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans &trans &trans
	           &trans  &trans   &trans        &trans &trans  &trans &trans    &trans    &bt BT_NXT    &bt BT_CLR
			>;

			sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN &inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
	};
};
